BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterReturnType: None
SpaceBeforeParens: ControlStatements
PointerAlignment: Right 
ColumnLimit: 80
IndentCaseLabels: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false

